// für Line-up Event

.line-up {
  &__event {
    display: grid;
    grid-row-gap: $spacer-s;
    grid-template-columns: 64px calc(100% - 64px);
    grid-template-rows: auto;
    margin-bottom: $spacer-l;
  }

  &__time {
    line-height: 48px;
  }

  &__star,
  &__star2 {
    background-color: $negative;
    line-height: 48px;
    padding-left: $spacer-s;
  }

  &__star2 {
    grid-column: 2 / span 1;
  }

  // genres
  &__star.alternative,
  &__star2.alternative {
    border-right: 4px solid $c-indie;
  }

  &__star.country,
  &__star2.country {
    border-right: 4px solid $c-indie;
  }

  &__star.electronic,
  &__star2.electronic {
    border-right: 4px solid $c-electronic;
  }

  &__star.hiphop,
  &__star2.hiphop {
    border-right: 4px solid $c-hiphop;
  }

  &__star.indie,
  &__star2.indie {
    border-right: 4px solid $c-indie;
  }

  &__star.jazz,
  &__star2.jazz {
    border-right: 4px solid $c-jazz;
  }

  &__star.metal,
  &__star2.metal {
    border-right: 4px solid $c-pop-rock;
  }

  &__star.poprock,
  &__star2.poprock {
    border-right: 4px solid $c-pop-rock;
  }

  &__star.rnb,
  &__star2.rnb {
    border-right: 4px solid $c-jazz;
  }

  &__star.soul,
  &__star2.soul {
    border-right: 4px solid $c-jazz;
  }
}

@media all and (min-width: $width-tablet) {
  .line-up {
    &__event {
      display: grid;
      grid-column-gap: $spacer-s;
      grid-row-gap: $spacer-s;
      grid-template-columns: 64px calc(50% - 32px)  calc(50% - 32px);
      grid-template-rows: auto;
      margin-bottom: $spacer-l;
    }

    &__star2 {
      grid-column: 3 / span 1;
    }
  }
}
