/*
Ticket-Overview-Post
 */
.ticket__post {
  &-wrapper {
    background-color: $negative;
    display: grid;
    grid-template-areas: 'icon' 'title' 'validity' 'buy';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    margin: $spacer-m 0;
    padding-bottom: $spacer-m;
  }

  // music styles

  // hiphop
  &-wrapper.hiphop {
    border-bottom: 4px solid $c-hiphop;
  }

  &-wrapper.hiphop .ticket__post-icon {
    background-color: $c-hiphop;
  }

  // jazz
  &-wrapper.jazz {
    border-bottom: 4px solid $c-jazz;
  }

  &-wrapper.jazz .ticket__post-icon {
    background-color: $c-jazz;
  }

  // indie
  &-wrapper.indie {
    border-bottom: 4px solid $c-indie;
  }

  &-wrapper.indie .ticket__post-icon {
    background-color: $c-indie;
  }

  // pop-rock
  &-wrapper.poprock {
    border-bottom: 4px solid $c-pop-rock;
  }

  &-wrapper.poprock .ticket__post-icon {
    background-color: $c-pop-rock;
  }
  // electronic
  &-wrapper.electronic {
    border-bottom: 4px solid $c-electronic;
  }

  &-wrapper.electronic .ticket__post-icon {
    background-color: $c-electronic;
  }
  // end music styles

  &-img {
    display: none;
  }

  &-icon {
    align-items: center;
    display: grid;
    grid-area: icon;
    height: 48px;
    justify-content: center;
    z-index: 2;
  }

  &-icon img {
    width: 30px;
  }

  &-validity {
    align-self: end;
    display: grid;
    grid-area: validity;
    grid-template-rows: repeat(2, auto);
    padding: 0 $spacer-m;
  }

  &-title {
    grid-area: title;
    padding: $spacer-m $spacer-m $spacer-xxs;
  }

  &-title a {
    color: $primary;
    text-decoration: none;
  }

  &-buy {
    grid-area: buy;
    padding: 0 $spacer-m;
    text-align: center;
  }

  &-buy .button--secondary {
    color: $primary;
  }
}

@media all and (min-width: $width-tablet) {
  .ticket__post {
    &-icon {
      justify-items: center;
      width: 100%;
    }

    &-icon img {
      width: 32px;
    }

    &-buy {
      align-content: center;
      border-left: 1px solid $primary--4;
      display: grid;
      height: 100%;
      padding: 0;
      text-align: center;
    }

    &-buy .button__text {
      display: block;
    }

    &-title.post__title {
      padding: $spacer-m;
      padding-bottom: $spacer-s;
    }
  }
}

@media all and (min-width: $width-desktop) {
  .ticket__post {
    &-wrapper {
      align-items: center;
      border-bottom: 0;
      grid-template-areas: 'img img icon title validity buy';
      grid-template-columns: 0.8fr 0.8fr 104px 3fr 3fr 1.5fr;
      grid-template-rows: 104px;
      justify-content: space-between;
      margin: $spacer-m 0;
      padding-bottom: 0;
    }

    &-icon {
      height: 100%;
    }

    &-icon img {
      width: 64px;
    }

    &-img {
      display: block;
      grid-area: img;
      height: 104px;
      overflow: hidden;
    }

    &-img img {
      width: 100%;
    }

    &-validity {
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      align-self: center;
    }

    &-buy {
      grid-column-gap: $spacer-xs;
      grid-template-columns: 100%;
      justify-items: center;
    }

    // music styles

    // hiphop
    &-wrapper.hiphop {
      border-bottom: 0;
      border-right: 4px solid $c-hiphop;
    }

    // jazz
    &-wrapper.jazz {
      border-bottom: 0;
      border-right: 4px solid $c-jazz;
    }

    // indie
    &-wrapper.indie {
      border-bottom: 0;
      border-right: 4px solid $c-indie;
    }

    // pop-rock
    &-wrapper.poprock {
      border-bottom: 0;
      border-right: 4px solid $c-pop-rock;
    }

    // electronic
    &-wrapper.electronic {
      border-bottom: 0;
      border-right: 4px solid $c-electronic;
    }

    // end music styles

  }
}