<!--ad start-->
<section class="ad__app-wrapper">
    <div class="app__content-img">
        <img src="./assets/media/add/i_phone.png" alt="iPhone6s App">
    </div>
    <div class="app__content">
        <div class="app__content-text">
           <h2 class="page__title">Mit der App unabhängig am Festival feiern.</h2>
        </div>
        <div class="app__content-buttons">
            <a href="#" class="button--secondary button__text">App downloaden</a>
            <div class="app__content-logo" >
                <img src="./assets/media/add/app_store.png" alt="App Store Logo">
                <img src="./assets/media/add/play_store.png" alt="Play Store Logo">
            </div>
        </div>
    </div>
</section>
<!--ad end-->