<!--akkordeon start-->
<div class="akkordeon__wrapper">
    <div class="akkordeon__item">
        <div class="akkordeon-item__title">
            <h3 class="post__title">Anreise & Rückreise</h3>
            <span class="akkordeon-item__more tab__text">Weniger</span>
        </div>
        <div class="akkordeon-item__text">
            <p>Die Anreise ans Sur le Lac gestaltet sich wie folgt und ganz unkompliziert. Wir empfehlen die
                öffentlichen Verkehrsmittel zu benützen. Ab Eggersriet Post bringen euch Shuttlebusse direkt aufs
                Gelände. Naturverbundenen Besuchern legen wir den 15-minütigen Spaziergang vorbei an Blüten und Blatt
                gen Festgelände sehr ans Herz. In der Nacht bringen euch dann stündlich Spezialbusse sicher und behütet
                zurück nach St. Gallen. Die Spezialbusse sind im Eintrittspreis inbegriffen. Besuchern, welche mit
                Privatautos anreisen, stehen in begrenzter Anzahl Parkplätze unweit des Festgeländes zur Verfügung. </p>
            <div class="akkordeon-item__map" id="map"></div>
        </div>
    </div>
    <div class="akkordeon__item">
        <div class="akkordeon-item__title">
            <h3 class="post__title">Einlassregeln</h3>
            <span class="akkordeon-item__more tab__text">Mehr</span>
        </div>
        <div class="akkordeon-item__text hide">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                vitae, justo. </p>
        </div>
    </div>
    <div class="akkordeon__item">
        <div class="akkordeon-item__title">
            <h3 class="post__title">Zelten & Naturschutz</h3>
            <span class="akkordeon-item__more tab__text">Mehr</span>
        </div>
        <div class="akkordeon-item__text hide">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                vitae, justo. </p>
        </div>
    </div>
    <div class="akkordeon__item">
        <div class="akkordeon-item__title">
            <h3 class="post__title">Fragen & Antworten</h3>
            <span class="akkordeon-item__more tab__text">Mehr</span>
        </div>
        <div class="akkordeon-item__text hide">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                vitae, justo. </p>
        </div>
    </div>
</div>
<!--akkordeon start-->