<!--aside start-->
<aside class="detail-content__aside">
    <div class="detail__aside-remember selected">
        <p class="button__text ">merken</p>
    </div>
    <a href="../content/ticket_buy.html" class="button--primary button__text">Tickets kaufen</a>
    <button class="button--secondary button__text">Festival teilen</button>
    <div class="detail__aside-sponsor">
        <p class="addinfo">Unterstützt von</p>
        <img src="{{root}}assets/media/festivals/surLeLac/ceros-logo.png" alt="Sponsor-Logo Ceros">
    </div>
</aside>
<!--aside end-->