<!--detail-content start-->
<section class="detail-content__wrapper">
    <h2 class="page__title">Spannende, innovative und progressive Musik</h2>
    <div class="detail-content__times">
        <div class="detail-content__location"><p>Eggersriet SG</p></div>
        <div class="detail-content__date"><p>Fr. 13. – So. 15. Aug 2016</p></div>
    </div>
    <div class="detail-content__lead">
        <p class="lead__text">
            Das eintätige Festival präsentiert Künstler, welche sich im Spannungsfeld zwischen verschiedensten
            musikalischen Strömungen und Einflüssen bewegen. Wir bieten Musikern, die sich für spannende, innovative und
            progressive Musik einsetzen eine Plattform. Das Fest findet mit einem atemberaubenden Ausblick über den
            Bodensee auf der Eggersrieter Höhe statt.
        </p>
    </div>
    <div class="detail-content__text">
        <p>Wir bieten euch auf dem Gelände verschiedenste Freuden für Gaumen und Kehle. Ob orientalischer Falafel oder
            Käseplättli mit einem Glas Wein kredenzt, marokkanische Teespezialität oder klassischer Schüblig vom Grill.
            Es sollte für jeden Geschmack etwas dabei sein. Um die Angebote zu sehr fairen Preisen und auch den Eintritt
            in diesem Rahmen beibehalten zu können, bitten wir euch auf das Mitbringen von Getränken und Lunchpäcklis
            jeglicher Art zu verzichten. Vielen Dank für eure Unterstützung und mit unserem kulinarischen Genuss wird
            das Fest bestimmt unvergesslich.</p>
        <p>Der Verein "Sur le Lac", welcher non-profit agiert, organisiert seit 2008 das "Sur le Lac – Ein kleines Fest
            der Musik". Das eintägige Festival präsentiert Künstler, welche sich im Spannungsfeld zwischen
            verschiedensten musikalischen Strömungen und Einflüssen bewegen. An einem Festival herrscht ein ständig
            hoher Lärmpegel. Schützt euer Gehör mit den überall auf dem Festgelände gratis erhältlichen Oropax.</p>
    </div>
    {{>detail-content-aside}}
</section>
<!--detail-content end-->