<!--Festival-Switch-Button start-->
<div class="festival-switch__wrapper indie">
    <a href="detail.html" class="festival-switch__pre">
        <div class="pre__icon">
            <img src="../assets/media/icons/navigation_zurueck.svg" alt="letztes Festival">
        </div>
        <p class="festival-switch__text">Musikfestwochen</p>
        <div class="festival-switch__image">
            <img src="../assets/media/festivals/surLeLac/surlelac_preview.jpg" alt="surLelac image">
        </div>
    </a>
    <a href="detail.html" class="festival-switch__next">
        <div class="festival-switch__image">
            <img src="../assets/media/festivals/openair_zuerich/openari_zuerich.jpg" alt="Openair Zürich image">
        </div>
        <p class="festival-switch__text">Openair Zürich</p>
        <div class="next__icon">
            <img src="../assets/media/icons/navigation_weiter.svg" alt="nächstes Festival">
        </div>
    </a>
</div>
<!--Festival-Switch-Button end-->