<!--footer start-->
<div class="footer__wrapper">
    <div class="footer__menu--left">
        <a href="{{root}}content/festival_overview.html">FESTIVALS</a>
        <a href="{{root}}#magazin">MAGAZIN</a>
        <a href="{{root}}#news">NEWS</a>

    </div>
    <div class="footer__social-media">
        <a href="https://www.facebook.com" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_facebook.svg" alt="facebook"></a>
        <a href="https://www.instagram.com/?hl=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_instagram.svg" alt="instagramm"></a>
        <a href="https://www.snapchat.com/" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_snapchat.svg" alt="snapchat"></a>
        <a href="https://www.youtube.com/?hl=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_youtube.svg" alt="youtube"></a>
        <a href="https://twitter.com/?lang=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_twitter.svg" alt="twitter"></a>
    </div>
    <div class="footer__menu--right">
        <a href="#" class="footer__back-top">
            <span class="footer__text">BACK TO TOP</span>
            <div class="footer__back-top-icon"></div>
        </a>
    </div>
</div>
<!--footer end-->