<!--liveinfo start-->
<div class="liveinfo__wrapper">
    <div class="liveinfo__countdown">
        <p class="liveinfo-countdown__title">Countdown</p>
        <p class="liveinfo-countdown__info">7 Tage</p>
    </div>
    <div class="liveinfo__avail-ticket">
        <p class="liveinfo-avail-ticket__title">Übrige Tickets</p>
        <p class="liveinfo-avail-ticket__info">43</p>
    </div>
    <div class="liveinfo__visitor">
        <p class="liveinfo-visitor__title">Besucher</p>
        <p class="liveinfo-visitor__info">12'000</p>
    </div>
    <div class="liveinfo__forecast">
        <p class="liveinfo-forecast__title">Wetter</p>
        <p class="liveinfo-forecast__info">28°</p>
    </div>
</div>
<!--liveinfo end-->