<!--nav start-->
<div id="nav" class="nav__wrapper">
    <nav class="nav__menu">
        <ul class="nav__menu-list">
            <li class="nav__title"><a href="{{root}}content/festival_overview.html">Festivals</a></li>
            <li class="nav__title"><a href="../index.html#magazin">Magazin</a></li>
            <li class="nav__title"><a href="../index.html#news">News</a></li>
        </ul>
    </nav>
    <div class="nav__social-media">
        <a href="https://www.facebook.com" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_facebook_fff.svg" alt="facebook"></a>
        <a href="https://www.instagram.com/?hl=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_instagram_fff.svg" alt="instagramm"></a>
        <a href="https://www.snapchat.com/" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_snapchat_fff.svg" alt="snapchat"></a>
        <a href="https://www.youtube.com/?hl=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_youtube_fff.svg" alt="youtube"></a>
        <a href="https://twitter.com/?lang=de" target="_blank"><img src="{{root}}assets/media/icons/socialmedia_twitter_fff.svg" alt="twitter"></a>
    </div>
    <div class="nav__search">
        <input type="text" id="search" >
        <button class="nav__search-button"><img src="{{root}}assets/media/icons/navigation_suche.svg" alt="Suche"></button>
    </div>
</div>
<!--nav end-->