<article class="news__post-wrapper">
    <div class="news-post">
        <img class="news__post-img" src="{{root}}/assets/media/news/social_media.png" alt="Festival Bild">
        <div class="news__post-content">
            <p class="news__post-date addinfo">6. Jun 2018</p>
            <p class="news__post-text">#festivallovers are you ready for a #competition #follow @envirofoneshop and
                we’ll announce next week #festival</p>
        </div>
        <div class="news__post-likes">
            <span class="news__post-like-button"></span>
            <p class="news__post-counter addinfo">13</p>
        </div>
    </div>
</article>
<article class="news__post-wrapper">
    <div class="news-post">
        <div class="news__post-content">
            <p class="news__post-date addinfo">7. Jun 2018</p>
            <p class="news__post-text">#festivallovers are you ready for a #competition #follow @envirofoneshop and
                we’ll announce next week #festival</p>
        </div>
        <div class="news__post-likes">
            <span class="news__post-like-button filled"></span>
            <p class="news__post-counter addinfo">39</p>
        </div>
    </div>
</article>