<!--slider start-->
<div class="slider__wrapper">
    <button id="button-pre" class="slider__button--pre">
        <img src="{{root}}assets/media/icons/steuerung_pfeil_links.svg" alt="Bild zurück">
    </button>
    <div class="slider__slides">
        <div class="slider__item selected">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery.jpg" alt="bild 1">
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery_2.jpg" alt="bild 2">
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery_3.jpg" alt="bild 3">
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery_4.jpg" alt="bild 4">
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery_5.jpg" alt="bild 5">
            </div>
        </div>
        <div class="slider__item">
            <div class="slide-item__content">
                <img src="{{root}}assets/media/festivals/surLeLac/imggallery_6.jpg" alt="bild 6">
            </div>
        </div>
    </div>
    <button  id="button-next" class="slider__button--next">
        <img src="{{root}}assets/media/icons/steuerung_pfeil_rechts.svg" alt="nächstes Bild">
    </button>
    <div id="dots" class="slider__dots">
    </div>
</div>
<!--slider-end-->