<!--Sortbar start-->
<div class="sort-bar__wrapper">
    <div id="sort-by-date" class="sort-date">
        <p>Datum</p>
        <div id="sort-date-button" class="sort-date__button"></div>
    </div>
    <ul id="select-kanton" class="sort-kanton">
        <li id="kanton-button" class="kanton-button">Kanton</li>
        <ul id="kanton-choice-list" class="kanton-choice__list">
            <li><button class="kanton-choice__item" value="AG">AG</button></li>
            <li><button class="kanton-choice__item" value="AR">AR</button></li>
            <li><button class="kanton-choice__item" value="AI">AI</button></li>
            <li><button class="kanton-choice__item" value="BL">BL</button></li>
            <li><button class="kanton-choice__item" value="BS">BS</button></li>
            <li><button class="kanton-choice__item" value="BE">BE</button></li>
            <li><button class="kanton-choice__item" value="FR">FR</button></li>
            <li><button class="kanton-choice__item" value="GE">GE</button></li>
            <li><button class="kanton-choice__item" value="GL">GL</button></li>
            <li><button class="kanton-choice__item" value="GR">GR</button></li>
            <li><button class="kanton-choice__item" value="JU">JU</button></li>
            <li><button class="kanton-choice__item" value="LU">LU</button></li>
            <li><button class="kanton-choice__item" value="NE">NE</button></li>
            <li><button class="kanton-choice__item" value="NW">NW</button></li>
            <li><button class="kanton-choice__item" value="OW">OW</button></li>
            <li><button class="kanton-choice__item" value="SH">SH</button></li>
            <li><button class="kanton-choice__item" value="SZ">SZ</button></li>
            <li><button class="kanton-choice__item" value="SO">SO</button></li>
            <li><button class="kanton-choice__item" value="SG">SG</button></li>
            <li><button class="kanton-choice__item" value="TI">TI</button></li>
            <li><button class="kanton-choice__item" value="TU">TU</button></li>
            <li><button class="kanton-choice__item" value="UR">UR</button></li>
            <li><button class="kanton-choice__item" value="VD">VD</button></li>
            <li><button class="kanton-choice__item" value="VS">VS</button></li>
            <li><button class="kanton-choice__item" value="ZG">ZG</button></li>
            <li><button class="kanton-choice__item" value="ZH">ZH</button></li>
        </ul>
    </ul>
    <div class="sort-mode">
        <div id="mode-kachel" class="mode__kachel selected">
            <div class="mode__kachel-img"></div>
            <p class="mode__text">Kacheln</p>
        </div>
        <div id="mode-list" class="mode__list">
            <div class="mode__list-img"></div>
            <p class="mode__text">Liste</p>
        </div>
    </div>

</div>
<!--Sortbar end-->