$primary: #000;
$primary--1: lighten($primary, 25%);
$primary--2: #767676;
$primary--3: #c2c2c2;
$primary--4: #e5e5e5;
$primary--5: #f0f0f0;

$negative: #fff;

$c-hiphop: #d81b60;
$c-hiphop--hell: #e91e63;
$c-jazz: #fdd835;
$c-jazz--hell: #ffeb3b;
$c-indie: #00d79f;
$c-indie--hell: #1de9b6;
$c-pop-rock: #3949ab;
$c-pop-rock--hell: #3f51b5;
$c-electronic: #5e35b1;
$c-electronic--hell: #673ab7;


