$flow: 'Lato', sans-serif;
$title: 'Arvo', serif;

$i-calender: url('../media/icons/detail_kalender.svg');
$i-like: url('../media/icons/detail_like.svg');
$i-like-filled: url('../media/icons/detail_like_filled.svg');
$i-merken: url('../media/icons/detail_merken.svg');
$i-merken-filled: url('../media/icons/detail_merken_filled.svg');
$i-place: url('../media/icons/detail_place.svg');
$i-video-break: url('../media/icons/detail_video_break.svg');
$i-video-play: url('../media/icons/detail_video_play.svg');

$i-alternative: url('../media/icons/music_alternative.svg');
$i-country: url('../media/icons/music_country.svg');
$i-electronic: url('../media/icons/music_electronic.svg');
$i-hiphop: url('../media/icons/music_hiphop.svg');
$i-indie: url('../media/icons/music_indie.svg');
$i-jazz: url('../media/icons/music_jazz.svg');
$i-metal: url('../media/icons/music_metal.svg');
$i-pop-rock: url('../media/icons/music_poprock.svg');
$i-reggea: url('../media/icons/music_reggae.svg');
$i-rnb: url('../media/icons/music_rnb.svg');
$i-soul: url('../media/icons/music_soul.svg');

$i-backtotop: url('../media/icons/navigation_backtotop.svg');
$i-home: url('../media/icons/navigation_home.svg');
$i-login: url('../media/icons/navigation_login.svg');
$i-login--c2: url('../media/icons/navigation_login_c2.svg');
$i-menu: url('../media/icons/navigation_menu.svg');
$i-menu--c2: url('../media/icons/navigation_menu_c2.svg');
$i-close: url('../media/icons/navigation_schliessen.svg');
$i-close--c2: url('../media/icons/navigation_schliessen_c2.svg');
$i-search: url('../media/icons/navigation_suche.svg');
$i-buy: url('../media/icons/navigation_ticketkauf.svg');
$i-buy--c2: url('../media/icons/navigation_ticketkauf_c2.svg');
$i-back: url('../media/icons/navigation_zurueck.svg');

$i-fb: url('../media/icons/socialmedia_facebook.svg');
$i-gmail: url('../media/icons/socialmedia_gmail.svg');
$i-instagram: url('../media/icons/socialmedia_instagram.svg');
$i-messenger: url('../media/icons/socialmedia_messenger.svg');
$i-snapchat: url('../media/icons/socialmedia_snapchat.svg');
$i-twitter: url('../media/icons/socialmedia_twitter.svg');
$i-whatapp: url('../media/icons/socialmedia_whatsapp.svg');
$i-youtube: url('../media/icons/socialmedia_youtube.svg');

$i-check: url('../media/icons/steuerung_checkmark.svg');
$i-dropdown: url('../media/icons/steuerung_dropdown.svg');
$i-dropdown-circ: url('../media/icons/steuerung_dropdown_icon.svg');
$i-dropup-circ: url('../media/icons/steuerung_dropup_icon.svg');
$i-kacheln: url('../media/icons/steuerung_kacheln.svg');
$i-kacheln-sel: url('../media/icons/steuerung_kacheln_selected.svg');
$i-list: url('../media/icons/steuerung_liste.svg');
$i-list-sel: url('../media/icons/steuerung_liste_selected.svg');
$i-minus: url('../media/icons/steuerung_minus.svg');
$i-arrow-left: url('../media/icons/steuerung_pfeil_links.svg');
$i-arrow-right: url('../media/icons/steuerung_pfeil_rechts.svg');
$i-plus: url('../media/icons/steuerung_plus.svg');
$i-sort: url('../media/icons/steuerung_sortierung.svg');
$i-sort-up: url('../media/icons/steuerung_sortierung_sel_up.svg');
$i-sort-down: url('../media/icons/steuerung_sortierung_sel_down.svg');

$i-camping-standard: url('../media/icons/tickets_camping_standard.svg');
$i-camping-vip: url('../media/icons/tickets_camping_vip.svg');
$i-info: url('../media/icons/tickets_info.svg');
$i-security: url('../media/icons/tickets_securtiy.svg');
$i-ticket-standard: url('../media/icons/tickets_standard.svg');
$i-ticket-vip: url('../media/icons/tickets_vip.svg');
