* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$width-tablet: 376px;
$width-desktop: 769px;

$spacer-xxs: 8px;
$spacer-xs: 12px;
$spacer-s: 16px;
$spacer-m: 24px;
$spacer-l: 32px;
$spacer-xl: 48px;
$spacer-xxl: 56px;
$spacer-xxxl: 120px;
